.navbar-inverse {
    background-color: #DCDDDF;
    border-color: #9d9d9d;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #9d9d9d;
    background-color: #DCDDDF;
}