<body>
  <div id="_gridcontrol_toolbarItems" class="e-control e-toolbar e-lib e-keyboard" aria-haspopup="false"
    aria-orientation="horizontal" style="height: auto; width: auto;">
    <div class="e-toolbar-items">
      <div class="e-toolbar-item">
        <button mat-raised-button (click)="add()" class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib"
          id="_gridcontrol_add" style="width: auto;">
          <span class="glyphicon glyphicon-plus"></span><span class="e-tbar-btn-text">Add</span>
        </button>
      </div>
      <div class="e-toolbar-item">
        <button (click)="edit()" class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" id="_gridcontrol_edit"
          style="width: auto;">
          <span class="glyphicon glyphicon-pencil">
          </span>
          <span class="e-tbar-btn-text">Edit</span>
        </button>
      </div>
      <div class="e-toolbar-item">
        <button (click)="delete()" class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib" id="_gridcontrol_delete"
          style="width: auto;">
          <span class="glyphicon glyphicon-trash">
          </span>
          <span class="e-tbar-btn-text">Delete</span>
        </button></div>
    </div>
  </div>

  <ejs-treegrid #treegrid [dataSource]="tasks" hasChildMapping="isParent" parentIdMapping="ParentID" idMapping="id"
     height="470"><!-- (actionBegin)="actionBegin($event)"> -->
    <e-columns>
      <e-column field="id" headerText="Task ID" width="120" textAlign="Right" isPrimaryKey="true" type="number">
      </e-column>
      <e-column field="type" headerText="Type" width="225"></e-column>
      <e-column field="creator" headerText="Creator" width="150" format="yMd" type="string"></e-column>
      <e-column field="created" headerText="Created" width="150" format="yMd" type="datetime" editType="datepickeredit">
      </e-column>

    </e-columns>
  </ejs-treegrid>

  <jw-modal id="custom-policy-set">
    <app-policy-set [mode]="mode" [id]="policySet?.id"  (saveEvent)="savePolicySet($event)" (closeEvent)="closeModal('custom-policy-set')"></app-policy-set>
  </jw-modal>

  <jw-modal id="custom-policy">
    <app-policy [mode]="mode" [idPolicySet]="policySet?.id" [id]="selectedItemId" (saveEvent)="savePolicySet($event)" (closeEvent)="closeModal('custom-policy')"></app-policy>
  </jw-modal>

  <jw-modal id="custom-any-of">
    <app-any-of [mode]="mode" [idPolicySet]="policySet?.id" [id]="selectedItemId" [selectedParentType]="selectedParentType" [parentId]="selectedParentId" (saveEvent)="savePolicySet($event)" (closeEvent)="closeModal('custom-any-of')"></app-any-of>
  </jw-modal>

  <jw-modal id="custom-rule">
    <app-rule [mode]="mode" [idPolicySet]="policySet?.id" [id]="selectedItemId" [parentId]="selectedParentId" (saveEvent)="savePolicySet($event)"  (closeEvent)="closeModal('custom-rule')"></app-rule>
  </jw-modal>

  <jw-modal id="custom-condition">
    <app-condition [mode]="mode" [idPolicySet]="policySet?.id" [id]="selectedItemId" [parentId]="selectedParentId" (saveEvent)="savePolicySet($event)" (closeEvent)="closeModal('custom-condition')"></app-condition>
  </jw-modal>

  <jw-modal id="custom-confirmation-dialog">
    <app-confirmation-dialog [selectedItemId]="selectedItemId" [policySetId]='policySet?.id' [selectedItemType]="currentType" [selectedParentType]="selectedParentType" [parentId]="selectedParentId" (closeEvent)="closeModal('custom-confirmation-dialog')">
    </app-confirmation-dialog>
  </jw-modal>

  <jw-modal id="custom-choose-what-to-create">
    <app-choose-what-to-create 
    [currentType]="currentType" 
    (closeEvent)="closeModal('custom-choose-what-to-create')"
    (selectedEvent) ="selectedEvent($event)">
    </app-choose-what-to-create>
  </jw-modal>
</body>