<body>
<div class="container">
  <section id="content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Login Form</h1>
      <div>
        <input type="text" formControlName="username" placeholder="Username" required id="username" name="username" [(ngModel)]="username"/>
      </div>
      <div>
        <input type="password" formControlName="password" placeholder="Password" required id="password" name="password" [(ngModel)]="password"/>
      </div>
      <!-- <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" class="alert">
        <div *ngIf="loginForm.controls['username'].errors.required">
          Please enter username
        </div> 
      </div>-->
      <div class="alert" *ngIf="incorrectData">
        Your data are not valid!
      </div> 
      <div>
        <input type="submit" [disabled]="!loginForm.valid" value="Log in" />
        <a href="http://localhost:4200/register">Register</a>
      </div>
    </form><!-- form -->
  </section><!-- content -->
</div><!-- container -->
</body>
