<body>
    <div *ngIf="policy" class="container">
      <section id="content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h1>Policy Form</h1>
          <label>Policy Id</label>
          <div>
            <div class="alert-message" *ngIf="f.policyId.invalid && f.policyId.dirty || f.policyId.touched">
              <div *ngIf="f.policyId.errors?.minlength">policyId must have at least 3 characters!</div>
            </div>
            <input type="text" title="policy id" formControlName="policyId" placeholder="policyId" required="" id="policyId" name="policyId"
              [(ngModel)]="policy.policyId" />
          </div>
          <label>Version</label>
          <div>
            <div class="alert-message" *ngIf="f.version.invalid && f.version.dirty || f.version.touched">
              <div *ngIf="f.version.errors?.minlength">version must have at least 1 character!</div>
            </div>
            <input type="number" step="0.1" min=0 title="version" formControlName="version" placeholder="version" required="" id="version" name="version"
              [(ngModel)]="policy.version" />
          </div>
          <label>Rule combining Algorithm</label>
          <div>
              <select name="ruleCombiningAlgId" id="ruleCombiningAlgId" title="ruleCombiningAlgId" formControlName="ruleCombiningAlgId" [(ngModel)]="policy.ruleCombiningAlgId">
                  <option *ngFor='let type of ruleCombiningAlgIdValues' id="{{type}}" value="{{type}}">{{type}}</option>
                </select>
          </div>
          <label>Description</label>
          <div>
            <input type="text" title="description" [ngModelOptions]="{standalone: true}" placeholder="description" required="" id="description"
              name="description" [(ngModel)]="policy.description" />
          </div>
          <div class="alert" *ngIf="incorrectData">
              Policy id must be unique
            </div>
          <div>
            <input type="submit" [disabled]="!form.valid" value="Save" />
            <a (click)="closeEvent.emit($event)">Close</a>
          </div>
        </form><!-- form -->
      </section><!-- content -->
    </div><!-- container -->
  </body>