<body>
    <div class="container">
      <section id="content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h1>Policy Form</h1>
          <div>
            <div class="alert-message" *ngIf="f.xsi.invalid && f.xsi.dirty || f.xsi.touched">
              <div *ngIf="f.xsi.errors?.minlength">Xsi must have at least 3 characters!</div>
            </div>
            <input type="text" formControlName="xsi" placeholder="xsi" required="" id="xsi" name="xsi"
              [(ngModel)]="policy.xsi" />
          </div>
          <div>
            <div class="alert-message" *ngIf="f.policyId.invalid && f.policyId.dirty || f.policyId.touched">
              <div *ngIf="f.policyId.errors?.minlength">policyId must have at least 3 characters!</div>
            </div>
            <input type="text" formControlName="policyId" placeholder="policyId" required="" id="policyId" name="policyId"
              [(ngModel)]="policy.policyId" />
          </div>
          <div>
            <div class="alert-message" *ngIf="f.version.invalid && f.version.dirty || f.version.touched">
              <div *ngIf="f.version.errors?.minlength">version must have at least 3 characters!</div>
            </div>
            <input type="text" formControlName="version" placeholder="version" required="" id="version" name="version"
              [(ngModel)]="policy.version" />
          </div>
          <div>
            <input type="text" formControlName="ruleCombiningAlgId" placeholder="ruleCombiningAlgId" required="" id="ruleCombiningAlgId" name="ruleCombiningAlgId"
              [(ngModel)]="policy.ruleCombiningAlgId" />
          </div>
          <div>
            <input type="text" formControlName="description" placeholder="description" required="" id="description"
              name="description" [(ngModel)]="policy.description" />
          </div>
          <div>
            <input type="text" formControlName="schemaLocator" placeholder="schemaLocator" required="" id="schemaLocator"
              name="schemaLocator" [(ngModel)]="policy.schemaLocator" />
          </div>
          <div>
            <input type="submit" [disabled]="!form.valid" value="Save" />
            <a (click)="closeEvent.emit($event)">Close</a>
          </div>
        </form><!-- form -->
      </section><!-- content -->
    </div><!-- container -->
  </body>